.described-image {
  margin-bottom: 3.125rem;
  .image {
    text-align: center;
    img {
      max-width: 80%;
    }
  }
  .desc {
    > div {
      margin-left: 10%;
      margin-right: 10%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
