{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}

<!-- Header -->
<header id="header" class="alt">
    <h1>{{ .Site.Params.name }}</h1>
    <p>{{ .Site.Params.tagline }}</p>
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous">
    </script>
</header>

<div id="screenshots" class="horizontal">
    <img class="screenshot left" src="images/answering-frame.png" />
    <img class="screenshot center" src="images/radar-frame.png" />
    <img class="screenshot right" src="images/line-frame.png" />
</div>

<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="#intro" class="active" ga-on="click" ga-event-category="menu" ga-event-action="benefits">Benefits</a></li>
        <li><a href="#why" ga-on="click" ga-event-category="menu" ga-event-action="features">Features</a></li>
        <li><a href="#usp" ga-on="click" ga-event-category="menu" ga-event-action="why">Why {{ .Site.Params.name}}</a></li>
        <li><a href="#pricing" ga-on="click" ga-event-category="menu" ga-event-action="pricing">Pricing</a></li>
        <li><a href="#signup" ga-on="click" ga-event-category="menu" ga-event-action="signup">Signup</a></li>
        <li><a href="https://twitter.com/impactasaurus"><img src="/images/twitter.png"></img></a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <section id="intro" class="main">
        {{ partial "intro.html" . }}
    </section>
    <section id="why" class="main special">
        {{ partial "feature.html" . }}
    </section>
    <section id="usp" class="main special">
        {{ partial "usp.html" . }}
    </section>
    <section id="pricing" class="main special">
        {{ partial "price.html" . }}
    </section>
    <section id="signup" class="main special">
        {{ partial "signup.html" . }}
    </section>
</div>

{{ partial "footer.html" . }}
