#screenshots.horizontal {
    height: 19em;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px #dddddd;
    margin-left: 5%;
    margin-right: 5%;
}

.screenshot {
    -webkit-box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
}

#screenshots.horizontal .screenshot.left {
    position: absolute;
    left: 0px;
}

#screenshots.horizontal .screenshot.right {
    position: absolute;
    right: 0px;
}

#screenshots.horizontal .screenshot.right,
#screenshots.horizontal .screenshot.left {
    top: 2.6em;
    width: 60%;
    filter: brightness(98%);
}

#screenshots.horizontal .screenshot.center {
    width: 60%;
    position: absolute;
    left: 20%;
    right: 20%;
    z-index: 2;
}

.screenshot.backup {
    display: none;
    max-width: 600px;
    width: 100%;
    position: relative;
    margin: 0px auto;
}

@media screen and (max-width: 1100px) {
    #screenshots.horizontal .screenshot.right,
    #screenshots.horizontal .screenshot.left {
        display: none;
    }

    #screenshots.horizontal {
        height: 0px;
        border-bottom: 0px;
    }

    #screenshots.horizontal .screenshot.center {
        display: none;
    }

    .screenshot.backup {
        display: block;
    }
}