#signup a {
    border-bottom: none;
    color: #9bb2e1;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
#signup a:hover {
    color: #c79cc8;
}
#signup ul {
    list-style-position: inside;
}
#signup button {
    background-color: #935D8C;
    color: white !important;
    font-weight: normal;
}
#signup button:hover {
    background-color: #7e5078;
    color: white !important;
}

#signup button:focus {
    outline-width: 0px;
}

#signup input[type="submit"] {
    background-color: #935D8C;
    color: white !important;
    margin-top: 15px;
}

#signup input[type="submit"]:hover {
    background-color: #7e5078;
    color: white !important;
}

#signup input[type="submit"]:focus {
    outline-width: 0px;
}

