<div>
    <header class="major">
        <h2>Features</h2>
    </header>

    <ul class="features">
    {{ range sort .Site.Data.process "order" "asc" }}
        <li class="{{ .color }}">
            <h3>
                {{ if isset . "icon" }}
                    <span class="icon {{ .icon }}"></span>
                {{ end }}
                {{ .name }}
            </h3>
            <p>{{ replace .description  "{{ .Site.Params.name }}" $.Site.Params.name | safeHTML}}</p>
        </li>
    {{ end }}
    </ul>
</div>