<header class="major">
    <h2>Features</h2>
</header>

{{ range sort .Site.Data.process "order" "asc" }}
    <ul class="process">
        <li class="{{ .color }}">
            <span class="icon {{ .icon }}"></span><strong>{{ .name }}</strong>
            <p>{{ replace .description  "{{ .Site.Params.name }}" $.Site.Params.name }}</p>
        </li>
    </ul>
{{ end }}

<footer class="major">
<!--
    <ul class="actions">
        <li><a href="generic.html" class="button">Learn More</a></li>
    </ul>
-->
</footer>
