<div id="signup">
    <header class="major">
        <h2>Interested?</h2>
        <p>{{ .Site.Params.name }} is currently accepting beta users</p>
    </header>
    <footer class="major">
        <div id="mc_embed_signup">
            <p>Please leave your email address and we will create an account for you:</p>
            <style type="text/css">
            	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            </style>
            <div id="mc_embed_signup">
                <form id="signup-form">
                    <input id="signup-email" type="email" value="" name="email" class="email" placeholder="email address" required>
                    <input type="submit" value="Signup" class="button"></div>
                </form>
            </div>
        </div>
        <div id="signup-complete" style="display:none;">
            Thanks for considering Impactasaurus. We have received your request and will create an account within 24 hours.
        </div>
    </footer>
    <script>
        
        $("#signup-form").submit(function( event ) {
            event.preventDefault();
            var email = $("#signup-email").val();
            $.get("https://hooks.zapier.com/hooks/catch/2391493/55oy4x/", { 
                email:email
            })
            .done(function() {
                $("#mc_embed_signup").hide();
                $("#signup-complete").show();
            })
            .fail(function() {
                alert( "Something went wrong. Please email support@impactasaurus.org" );
            })
});
    </script>
</div>
