<div id="signup">

    <!-- Google Code for Signup Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script type="text/javascript">
        /* <![CDATA[ */
        goog_snippet_vars = function() {
            var w = window;
            w.google_conversion_id = 1017119165;
            w.google_conversion_label = "Y7bBCPuchHQQvYOA5QM";
            w.google_remarketing_only = false;
        }
        // DO NOT CHANGE THE CODE BELOW.
        goog_report_conversion = function(url) {
            goog_snippet_vars();
            window.google_conversion_format = "3";
            var opt = new Object();
            opt.onload_callback = function() {
                if (typeof(url) != 'undefined') {
                    window.location = url;
                }
            }
            var conv_handler = window['google_trackConversion'];
            if (typeof(conv_handler) == 'function') {
                conv_handler(opt);
            }
        }
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <!-- end google code -->

    <header class="major">
        <h2>Interested?</h2>
        <p>{{ .Site.Params.name }} is currently accepting beta users</p>
    </header>
    <footer class="major">
        <div id="mc_embed_signup">
            <p>If the following describes you, please leave your email address below and we will be in contact soon:</p>
            <ul>
                <li>You help beneficiaries over a period of time</li>
                <li>Your beneficiaries can answer questionnaires before and after 'intervention', or more frequently</li>
                <li>You are interested in understanding your impact on the beneficiary</li>
                <li>Your desired questionnaire is composed of Likert scales</li>
            </ul>
            <style type="text/css">
            	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            </style>
            <div id="mc_embed_signup">
                <form id="signup-form">
                    <input id="signup-email" type="email" value="" name="email" class="email" placeholder="email address" required>
                    <input type="submit" value="Register" class="button"></div>
                </form>
            </div>
        </div>
        <div id="signup-complete" style="display:none;">
            Thanks for considering Impactasaurus. We have received your request and will create an account within 24 hours.
        </div>
    </footer>
    <script>
        $("#signup-form").submit(function( event ) {
            event.preventDefault();
            // adwords conversion
            goog_report_conversion();
            // ga event
            ga('send', 'event', "signup", "submitted");
            // record email address
            var email = $("#signup-email").val();
            $.get("https://hooks.zapier.com/hooks/catch/2391493/55oy4x/", {
                email:email
            })
            .done(function() {
                $("#mc_embed_signup").hide();
                $("#signup-complete").show();
            })
            .fail(function() {
                alert( "Something went wrong. Please email support@impactasaurus.org" );
            })
        });
    </script>

</div>
