footer {
  margin-bottom: 2rem;

  h5 {
    font-weight: 400;
  }

  .col {
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .impactasaurus-logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  hr {
    margin-bottom: 3rem;
  }

  .copyright {
    font-size: 0.7rem;
    color: var(--gray);
    margin-top: 3rem;
    text-align: center;
    width: 100%;
  }
}
